{% extends 'customer/framework.html' %}

{% block customer_content %}
  {% comment %}Overview Section Start{% endcomment %}
  <div class="user-holder">
    <h5 class="text-uppercase">Overview :</h5>

    <div class="row me-2" style="display: inline;">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            <strong>Total Orders</strong>
          </div>
          <div class="card-body text-center">
            <a href="#"><h5 class="card-title">{{ order_count }}</h5></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row me-2" style="display: inline;">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            <strong>Total Rewards Earned</strong>
          </div>
          <div class="card-body text-center">
            <a href="#" style="text-decoration: none;"><h5 class="card-title fs-4" style="color:#c33332!important;">₹ 234.00</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %}Overview Section End{% endcomment %}

  <br /><br />

  {% comment %}Recent Orders Section Start{% endcomment %}
  <div class="user-holder">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="element-title has-border right-filters-row mb-1">
          <h5>Recent Orders :</h5>
        </div>
      </div>
    </div>
    {% include 'customer/order_details_table.html' %}
  </div>
{% endblock %}
