.login-button{
    background-color: #c33332 !important;
    border-width: 0 !important;
    font-size: 13px !important;
    font-weight: 700 !important; 
    font-family: 'Montserrat', sans-serif !important;
}

.login-credential:focus{
    box-shadow: 0 0 0.5rem #c33332 !important;
    border: none !important;
    color: black !important;
    transition-duration: 0.3s !important;
}