<div class="user-account-nav user-account-sidebar">
  <div class="user-nav-list">
    <ul>
       <!-- Dashboard  -->
      <li {% if 'customer/Dashboard' in request.path %}class="active"{% endif %}>
        <a href="{% url 'customer_dashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a>
      </li>

       <!-- My Orders  -->
      <li {% if 'customer/my-orders' in request.path %}class="active"{% endif %}>
        <a href="{% url 'my_orders' %}"><i class="icon-add_shopping_cart"></i>My Orders</a>
      </li>

       <!-- Profile Settings  -->
      <li {% if 'customer/profile' in request.path %}class="active"{% endif %}>
        <a href="{% url 'customer_profile' %}"><i class="icon-build"></i>Profile Settings</a>
      </li>

       <!-- Change Password  -->
      <li {% if 'customer/change-customer-password' in request.path %}class="active"{% endif %}>
        <a href="{% url 'change_customer_password' %}"><i class="icon-unlock-alt"></i>Change Password</a>
      </li>

       {% comment %} Sign Out  {% endcomment %}
      <li>
        <a class="logout-btn logout" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a>
      </li>
    </ul>
  </div>
</div>
