@keyframes show-toast {
    0% {bottom: -100%;}
    20% {bottom: 1%;}
    80% {bottom: 1%;}
    100% {bottom: -100%}
    
}

.show-notification{
    position: fixed!important;
    bottom: 100%;
    opacity:100!important;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 5s;
    z-index: 2;
}

.text-holder .upload-gallery input{
    font-size: 0.8rem;
    margin-top: 1rem;
}

.text-holder .upload-gallery a{
    white-space: normal;
}

.text-holder a{
    color: #c33332;
}

.restaurant-info{
    border: 0.1px solid rgba(0, 0, 0, 0.144);
    padding: 1rem;
}

#category_name:hover{
    text-decoration: underline;
}

form button{
    background-color: #c33332!important;
    color: white!important;
    border-color: #c33332!important;
}

form button:hover{
    background-color: #a02727!important;
}

#add_category_button:hover{
    color:white;
}