.show-notification{
    position: fixed!important;
    bottom: 100%;
    opacity:100!important;
    right: 20px;
    animation-duration: 5s;
    z-index: 2;
}

@keyframes show-toast-1 {
    0% {bottom: -100%;}
    20% {bottom: 1vh;}
    80% {bottom: 1vh;}
    100% {bottom: -100%}
    
}
.notification-1{
    animation-name: show-toast-1;
}

@keyframes show-toast-2 {
    0% {bottom: -100%;}
    20% {bottom: 16vh;}
    80% {bottom: 16vh;}
    100% {bottom: -100%}
    
}
.notification-2{
    animation-name: show-toast-2;
}

@keyframes show-toast-3 {
    0% {bottom: -100%;}
    20% {bottom: 32vh;}
    80% {bottom: 32vh;}
    100% {bottom: -100%}
    
}
.notification-3{
    animation-name: show-toast-3;
}

.text-holder .upload-gallery input{
    font-size: 0.8rem;
    margin-top: 1rem;
}

.text-holder .upload-gallery a{
    white-space: normal;
}

.text-holder a{
    color: #c33332;
}

.restaurant-info{
    border: 0.1px solid rgba(0, 0, 0, 0.144);
    padding: 1rem;
}

#category_name:hover{
    text-decoration: underline;
}

form button{
    background-color: #c33332!important;
    color: white!important;
    border-color: #c33332!important;
}

form button:hover{
    background-color: #a02727!important;
}

form button:focus{
    background-color: #a02727!important;
    box-shadow:0 0 1rem #c33332!important;
}

#add_category_button:hover{
    color:white;
}

.home-input::placeholder{
    color: #9097a1!important;
    text-transform: none!important;
    font-size: small;
}

.home-error{
    color: #f3f0f0;
}

.container-heading:hover{
    text-decoration: none;
}

.container-heading{
    text-decoration: underline;
}

.change-password-input:focus{
    box-shadow:0 0 0.5rem #c33332!important;
    border: none!important;
}

.change-password-input::selection{
    background: #c33232cd;
    color: white;
}

.login-credential::selection{
    background: #c33232cd;
    color: white;
}